<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="header">MENU PRINCIPAL</li>
		<li>
			<a ui-sref="dashboard">
				<i class="fa fa-home"></i> <span>Menu Principal</span>
			</a>
		</li>

		<li class="treeview">
		   <a href>
		        <i class="fa fa-edit"></i> <span>Cadastrar</span>
		        <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul class="treeview-menu">
		    <li>
		      <a ui-sref="knifeData"><i class="fa fa-cut"></i> Facas de Corte</a>
					<a ui-sref="userData"><i class="fa fa-user-o"></i> Funcionários</a>
					<a ui-sref="/"><i class="fa fa-bars"></i> Categorias</a>
					<a ui-sref="/"><i class="fa fa-map-marker"></i> Local de Estoque</a>
		    </li>
		  </ul>
		</li>

		<li class="treeview">
		   <a href>
		        <i class="fa fa-search"></i> <span>Consultar</span>
		        <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul class="treeview-menu">
		    <li>
		      <a ui-sref="knifeData"><i class="fa fa-cut"></i> Facas de Corte</a>
					<a ui-sref="knifeData"><i class="fa fa-arrows"></i> Movimentações</a>
		    </li>
		  </ul>
		</li>

	</ul>
</section>
