<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="knifeData in knifesData">
        <td>{{:: knifeData.name }}</td>
        <td>{{:: knifeData.categoria }}</td>
        <td>{{:: knifeData.estado }}</td>
        <td style="width:100px;">
          <button class="btn btn-warning" ng-click="showTabUpdate(knifeData)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" ng-click="showTabDelete(knifeData)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box-footer clearfix">
   <paginator url="/#!/knifesData" pages="{{ pages }}"></paginator>
</div>
